#txtClock {
    position: absolute;
    width: 1000px;
    height: 400px;
}


@media only screen and (max-width: 1000px) {
  #txtClock {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 300px) {
    #txtClock {
      width: auto;
      height: auto;
    }
  }
