/* text clock */
#txtClock {
    position: absolute;
}



/* analog clock */
#analogClock {
    width: 120px;
    height: 120px;
    border: 4px solid #2cd4ea;
    border-radius: 50%;
    background: black;
    position: relative;
  }

  .analog {
    position: absolute;
    background: #f3efef;
    transform-origin: center bottom;
  }

  #hour {
    width: 5px;
    height: 35px;
    bottom: 62px;
    background: yellow;
  }

  #minute {
    width: 5px;
    height: 48px;
    top: -6px;
    background: green;
  }

  #second {
    width: 3px;
    height: 55px;
    top: -11px;
    background: red;
  }