/* text clock */
#txtClock {
    position: absolute;
}



/* analog clock */
#analogClock {
    width: 100px;
    height: 100px;
    border: 2px solid #f4f1f1;
    border-radius: 50%;
    position: relative;
  }

  .analog {
    position: absolute;
    background: #f3efef;
    transform-origin: center;
  }

  #hour {
    width: 4px;
    height: 45px;
  }

  #minute {
    width: 5px;
    height: 65px;
  }

  #second {
    width: 2px;
    height: 77px;
    background: red;
  }